.list-items{
    box-shadow: 2px 2px 3px rgb(61, 61, 61);
    padding:10px;
    padding-left: 10px;
    background-color: rgb(160, 160, 160);
    margin:5px;
    border-radius:5px;
    color:rgb(47, 47, 47);
}
.span1{
  /* margin-right:10px; */
}
.span2{
    float:right;
}